<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <body>
        <div id="menuBar">
            <div id="upperMenu">
                <img
                id="MNNLogo"
                src="/static/images/MNNSymbol.svg"
                alt="MNN Logo"
                >
                <img
                id ="uploadButton"
                src="/static/images/UploadSymbol.svg" 
                onclick="uploadFile()"
                >
                <form action="/songs" method="POST" enctype="multipart/form-data" style="display:none;">
                    <input id="upload" type="file" name = "file" accept=".wav" style="display:none;" onchange="this.form.submit()">
                </form>
            </div>
            <div id="lowerMenu">
                <span>Songs</span>
                <div id="songsBox">
                    <ul>
                        {% for song in songs %}
                            <li id="{{song.filename}}_li" class="songList">{{song.filename}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="displayArea">
            <div id="noSelection">
                <span>No song selected</span>
                <span>Select a song to see our predictions</span>
            </div>
            {% for song in songs %}
                <div class="results" id="{{song.filename}}_results" style="display: none;">
                    <div class="tags">
                        <div class="songTag">
                            <div class="songTagBox">
                                <img src="/static/images/musicSymbol.svg" class="musicSymbol">
                                <span>SONG:</span>
                            </div>
                            <span class="tagLabel">{{song.filename}}</span>
                        </div>
                        <div class="genreTag">
                            <div class="genreTagBox">
                                <img src="/static/images/recordSymbol.svg" class="recordSymbol">
                                <span>GENRE:</span>
                            </div>
                            <span class="tagLabel">{{song.primaryGenre}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </body>
    <script src="/static/js/main.js"></script>
</html>