<!DOCTYPE html>
<html>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <body>
        <div id="menuBar">
            <div id="upperMenu">
                <img
                id="MNNLogo"
                src="/static/images/MNNSymbol.svg"
                alt="MNN Logo"
                >
                <img
                id ="uploadButton"
                src="/static/images/UploadSymbol.svg" 
                onclick="uploadFile()"
                >
            </div>

            <div id="lowerMenu">
                <span class="mochiyFont">SONGS</span>
                <div id="songsBox">

                </div>
            </div>
        </div>

        <div id="displayArea">

        </div>
    </body>
</html>