<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <body>
        <div id="menuBar">
            <div id="upperMenu">
                <img
                id="MNNLogo"
                src="/static/images/MNNSymbol.svg"
                alt="MNN Logo"
                >
                <img
                id ="uploadButton"
                src="/static/images/UploadSymbol.svg" 
                onclick="uploadFile()"
                >
            </div>
            <div id="lowerMenu">
                <span>Songs</span>
                <div id="songsBox">
                </div>
            </div>
        </div>

        <div id="displayArea">
            <div id="noSelection">
                <span>No song selected</span>
                <span>Select a song to see our predictions</span>
            </div>
        </div>

    </body>
    <script src="/static/js/main.js"></script>
</html>