<!DOCTYPE html>
<html>
    <script src="/static/js/start.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/start.css">
    <body>
        <div id="leftSide">
            <img
                src="/static/images/faceWithHeadphonesFilledWebVersion.svg" 
                alt="artistic rendition of a woman wearing headphones"
            >
        </div>

        <div id="rightSide">
            <img
                id="MNNLogo"
                src="/static/images/MNNSymbol.svg"
                alt="MNN Logo"
            >
            <img
                id ="uploadButton"
                src="/static/images/UploadSymbol.svg" 
                onclick="uploadFile()"
            >
            <div id="text" class="mochiyFont">
                <div>Upload a Song</div>
                <div>We'll guess the Genre</div>
            </div>
            <form action="/songs" method="POST">
                <input id="upload" type="file" accept=".mp3" style="display:none;" onchange="this.form.submit()">
            </form>
        </div>  
    </body>
</html>