<!DOCTYPE html>
<html>
    <script src="/static/js/start.js"></script>
    <body>
        <div id="leftSide">
            <img
                src="/static/images/faceWithHeadphonesFilledWebVersion.svg" 
                alt="artistic rendition of a woman wearing headphones"
            >
        </div>

        <div id="rightSide">
            <img
                src="/static/images/MNNSymbol.svg"
                alt="MNN Logo"
            >
            <img
                src="/static/images/UploadSymbol.svg" 
                onclick="uploadFile()"
                style="cursor:pointer"
            >
            <input id="upload" type="file" accept=".mp3" style="display:none;" onchange="this.form.submit()">
            <div>Upload a Song</div>
            <div>We'll guess the Genre</div>
        </div>  
    </body>
</html>